*{
    margin: 0;
    padding: 0;
}

:root{
    --laranja:#f47c3c;
    --ciano: #84d4f4;
    --marron: #653b2a;
    --azul-escura: #65a4b5;
    --verde: #acccbc;
    --branco: #ffffff;
}


.nav-top{
    background-color: var(--laranja);
}

.nav-item{
    margin: 0.5em !important;
    text-align: center !important;
}
  
.nav-link{
    color: var(--branco) !important;
    background-color: var(--marron) !important;
    border-radius: 0.5em !important;
}

.btn-buscar{
    background-color: var(--marron) !important;
    color: var(--branco) !important;
}

.divisao{
    background-color: var(--laranja) !important;
    color: var(--branco) !important;
    padding: 2em !important;
    text-align: center !important;
    margin-bottom: 1% !important;
}

.car-img{
    max-height: 50em !important;
}

.carousel-caption{
    width: auto !important;
    background-color: var(--marron) !important;
    color: var(--verde) !important;
    border-radius: 1em !important;
}


.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}

.card{
    padding: 1% !important;
    margin:  0% 1% 1% !important;
}

.card-img{
    width: auto !important;
}

.btn-comprar{
    background-color: var(--azul-escura) !important;
    color: var(--branco) !important;
}

.card-body{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 100%;
    text-align: justify !important;
}

.sec-contato{
    margin-bottom: 5% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.btn-contato{
    background-color: var(--marron) !important;
    color: var(--branco) !important;
}

.formulario{
    background-color: var(--laranja) !important;
    padding: 1em !important;
    border-radius: 0.5em !important;
    color: var(--branco) !important;
    margin: 2em !important;
}

footer{
    background-color: var(--laranja) !important;
    color: var(--branco) !important;
    text-align: center !important;
    padding: 0.5em !important;
}